<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub App!</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
         body {
            background-color: rgb(7, 40, 90);
            color:#8dbce2;
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
        }
        li {
            text-transform: capitalize;
            list-style: none;
        }
        a {
            color: #8dbce2;
        }
        a:hover {
            color:rgb(186, 241, 122)
        }
        </style>
</head>
<body>
    <h1>Welcome to GitPub!</h1>
    <ul>
        <% for (let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>">
                <%=allDrinks[i].name%>
                </a>
            </li>
       <% } %>
    </ul>
</body>
</html>