<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub App!</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
        body {
            background-color: rgb(7, 40, 90);
            color:#8dbce2;
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
        }
        /*class for link*/
        a {
            color: #8dbce2;
            font-size: 16px;
        }
        /*class for hovering over link*/
        a:hover {
            color:rgb(186, 241, 122)
        }
        /*class for h2 elements*/
        h2 {
            text-transform: capitalize;
        }
        /*class for resizing images*/
        img {
            max-width: 50%;
            height: auto;
        }
        </style>
</head>
<body>
    <h1>@ FOO BAR</h1>
    <h2>
        <%=allFood.name%>
    </h2>
   
    <p><img src="<%=allFood.image%>" alt=""></p>
    
    <h3>
       $ <%=allFood.price%>
    </h3>
    
    <p>
        <a href="/drinks">Back to Main Menu</a>
    </p>

</body>
</html>